<!-- Display the products that belong to the selected category -->
<!-- <img
  class="rounded mx-auto d-block img-fluid bg-light"
  src="/assets/loading_Gif.gif"
  id="Loading"
  width="100%"
  height="100%"
  *ngIf="loading"
/> -->
<ngx-spinner size = "medium" template="<img src='assets/loading_ball.gif' />" [fullScreen] = "true"><p style="color: white" ><br/> Loading... </p></ngx-spinner>

<div class="card border-0 text-black">
  <img
    src="/assets/grocery_background.jpg"
    alt=""
    class="card-img w-100 h-auto opacity-25"
    height="100"
  />
  <div
    class="card-img-overlay text-center my-3 d-flex justify-content-center align-items-center"
  >
    <div>
      <p id="product_list_text" class="card-title fs-1 fw-bolder">
        All Category
      </p>
    </div>
  </div>
</div>

<!-- src="https://a521-117-217-127-105.in.ngrok.io/api/v1/product-images/{{product.product.avatar_image}}" -->

<div class="container mt-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3">
    <div class="col" *ngFor="let product of grocery_items; let i = index">
      <div class="card bg-white p-2 m-2">
        <img
          class="rounded mx-auto d-block"
          src={{product.avatar_image}}
          alt=""
          [routerLink]="['../products-list/', product.slug]"
          width="120"
          height="120"
        />
        <div class="card-body text-center">
          <h4>{{ product.title }}</h4>
        <small>{{ product.items }} Items</small>
        </div>
      </div>
    </div>
  </div>
</div>
