#product_list_text{
    font-size: 1000px;
    font-family: 'Orbitron', sans-serif;
  }
  tr,th,td{
    padding: 8px;
  }
  
  .rounded {
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }