<div class="mx-5 d-flex justify-content-center">
  <div class="row g-1 m-lg-5 justify-content-center">
    <form
      class="row g-5 m-lg-5 justify-content-center"
      [formGroup]="Change_Password"
      (ngSubmit)="Change_Password_Click()"
      novalidate="novalidate"
    >
      <div class="row g-2 d-flex justify-content-center">
        <div class="col-md-5">
          <label for="currentpassword" class="form-label"
            >Current Password</label
          >
          <input
            type="password"
            formControlName="currentpassword"
            class="form-control"
            id="currentpassword"
            placeholder="Enter Password"
          />
          <div
            *ngIf="
              get_Change_password.currentpassword.touched &&
              get_Change_password.currentpassword.invalid
            "
            class="text-danger text-center mt-2"
          >
            <div
              *ngIf="get_Change_password.currentpassword.errors?.['required']"
              class="text-danger"
            >
              Current Password Must Required
            </div>
            <div
              *ngIf="get_Change_password.currentpassword.errors?.['minlength']"
              class="text-danger"
            >
              Current Password MustShould be 8 Character
            </div>
          </div>
        </div>
      </div>

      <div class="row g-2 d-flex justify-content-center">
        <div class="col-md-5">
          <label for="newpassword" class="form-label">New Password</label>
          <input
            type="password"
            formControlName="newpassword"
            class="form-control"
            id="newpassword"
            placeholder="Enter Password"
          />
          <div
            *ngIf="
              get_Change_password.newpassword.touched &&
              get_Change_password.newpassword.invalid
            "
            class="text-danger text-center mt-2"
          >
            <div
              *ngIf="get_Change_password.newpassword.errors?.['required']"
              class="text-danger"
            >
              Password Must Required
            </div>
            <div
              *ngIf="get_Change_password.newpassword.errors?.['minlength']"
              class="text-danger"
            >
              Password MustShould be 8 Character
            </div>
          </div>
        </div>
      </div>

      <div class="row g-2 d-flex justify-content-center">
        <div class="col-md-5">
          <label for="confirm_new_password" class="form-label"
            >Confirm New Password</label
          >
          <input
            type="password"
            formControlName="confirm_new_password"
            class="form-control"
            id="confirm_new_password"
            placeholder="Enter Confirm Password"
          />
          <div
            *ngIf="
              get_Change_password.confirm_new_password.touched &&
              get_Change_password.confirm_new_password.invalid
            "
            class="text-danger text-center mt-2"
          >
            <div
              *ngIf="get_Change_password.confirm_new_password.errors?.['required']"
              class="text-danger"
            >
              Confirm Password Must Required
            </div>
            <div
              *ngIf="get_Change_password.confirm_new_password.errors?.['minlength']"
              class="text-danger"
            >
              Confirm Password MustShould be 8 Character
            </div>
            <div
              *ngIf="
                get_Change_password.confirm_new_password.errors?.matchPassword
              "
            >
              Confirm Password does not match Password.
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row g-2 justify-content-center" *ngIf="!Change_Password.valid">
                        <div class="col-md-3 text-center"> <span class="col-md-3 text-center
                        text-danger">{{errorMessage}}</span> </div> </div> -->
      <!-- <div class="row g-2 justify-content-center" > <div class="col-md-3
                        text-center"> <span class="col-md-3 text-center text-danger"
                        *ngIf="!Change_Password.valid">Please Enter all Details</span> </div> </div> -->
      <div class="row g-2 d-flex justify-content-center">
        <div class="col-md-5 text-center">
          <button type="submit" class="btn btn-primary col-md-6 text-center">
            Change Password
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
