/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;padding-top: 55px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  }
#product_list_text {
    font-size: 1000px;
    font-family: 'Orbitron', sans-serif;
}
