
<form class="row g-3 m-lg-5 d-flex justify-content-center" [formGroup]="Contact_us" (ngSubmit)="Contact_us_click()" novalidate>

    <div class="row g-3 d-flex justify-content-center"> 
        <div class="col-md-4">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" formControlName="email" class="form-control" id="inputEmail4" placeholder="Enter Email">
        </div></div>
        <div *ngIf="Contact_us_data.email.touched && Contact_us_data.email.invalid" class="text-danger text-center">
            <div *ngIf="Contact_us_data.email.errors?.['required']" class="text-danger">Email Must Required</div>
            <div *ngIf="Contact_us_data.email.errors?.['email']" class="text-danger">Please Enter Valid Email</div></div>
     <div class="row g-3 d-flex justify-content-center"> 
      <div class="col-md-4">
          <label for="inputPassword4" class="form-label">Message</label>
          <textarea rows="" cols="" formControlName="message" class="form-control" id="inputPassword4" placeholder="Enter Message Here"></textarea>
        </div>
        <div *ngIf="Contact_us_data.message.touched && Contact_us_data.message.invalid" class="text-danger text-center">
            <div *ngIf="Contact_us_data.message.errors?.['required']" class="text-danger">Message Must Required</div></div>
       </div>
      
          
       <!-- <div class="d-grid col-2 col-md-1 mx-auto"> -->
        <div class="d-grid gap-2 col-3 col-md-2 mx-auto">

            <button type="submit" [disabled]="!Contact_us.valid" class="btn btn-primary">Contact us</button>
        <!-- </div> -->
    </div>
         
                 
      </form> 